     /* ========================================================================================================================== */
     section {
        padding: 60px 0;
        overflow: hidden;
    }
    
    .section-title {
        padding-bottom: 40px;
    }
    
    .section-title h2 {
        font-size: 14px;
        font-weight: 500;
        padding: 0;
        line-height: 1px;
        margin: 0 0 5px 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000000;
        font-family: "Poppins", sans-serif;
    }
    
    .section-title h2::after {
        content: "";
        width: 120px;
        height: 1px;
        display: inline-block;
        background: #fcac0d;
        margin: 4px 10px;
    }
    
    .section-title p {
        margin: 0;
        margin: 0;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Poppins", sans-serif;
        color: #070707;
    }
    .contact{
        margin-top: 50px;
    }
   .contact .info {
        width: 100%;
    }
    
    .contact .info .infoicon {
        padding: 5px;
    }
    
    .contact .info i {
        background: none;
        color: rgba(0, 0, 0, 0.7);
        float: left;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
    }
    
    .contact .info i:hover {
        color: #0b003b;
    }
    
    .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #000000;
    }
    
    .contact .info p {
        padding: 0 0 0 60px;
        margin-bottom: 0;
        font-size: 14px;
        color: #000000;
    }
    
    .contact .info .email,
    .contact .info .phone {
        margin-top: 40px;
    }
    
    .contact .php-email-form {
        width: 100%;
        background: none;
    }
    
    .contact .php-email-form .form-group {
        padding-bottom: 8px;
    }
    
    .contact .php-email-form .error-message {
        display: none;
        color: #000000;
        background: #ffffff;
        text-align: left;
        border-radius: 5px;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .error-message br+br {
        margin-top: 25px;
    }
    
    .contact .php-email-form .sent-message {
        display: none;
        color: #000000;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .loading {
        display: none;
        background: #090b13;
        text-align: center;
        padding: 15px;
    }
    
    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #000000;
        animation: animate-loading 1s linear infinite;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
    }
    
    .contact .php-email-form input:focus,
    .contact .php-email-form textarea:focus {
        border-color: #06dce4;
    }
    
    .contact .php-email-form input {
        height: 44px;
    }
    
    @keyframes animate-loading {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    .buutt {
        left: 250px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        border-radius: 10px;
        display: block;
        border: 0px;
        font-weight: 700;
        box-shadow: 0px 0px 14px -7px #3b3b3b;
        background-image: linear-gradient(45deg, #515152 0%, #161615 51%, #383737 100%);
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        touch-action: manipulation;
    }
    
    .buutt:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
    .buutt:active {
        transform: scale(0.95);
    }
    
    .siz2 {
        width: 100%;
        height: 50px;
    }
    
    .siz3 {
        width: 100%;
        height: 150px;
    }
    /* ----------------------------------------------------------------- */
    /* ========================================================================================================================== */
    