/* ========================================================================================================================== */


/* body css */

body {
    background: url("../images/home-background.png") center center / cover no-repeat fixed;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

input::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

input:-moz-placeholder {
    color: rgb(255, 255, 255);
}


/* ----------------------------------------------------------------- */


/* ========================================================================================================================== */


/* navigation bar css */

.navbar .navbar-nav .nav-item a {
    padding: 15px;
}

.navbar .navbar-nav .nav-but {
    padding: 10px;
}

.bg-color {
    background-color: #090b13 !important;
    color: white !important;
}

.icoon {
    padding: 7px;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    opacity: 0;
    transition: all 300ms;
    height: 2px;
    width: 100%;
    background-color: rgb(46, 255, 245);
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}


/* ----------------------------------------------------------------- */


/* search bar */

input[type="text"].form-control.bg-dark {
    border-color: #343a40;
    color: #fff;
}

.glowing-border {
    border: 2px solid #343a40;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px #343a40;
    transition: box-shadow 0.5s ease-in-out;
}

.glowing-border:focus {
    outline: none;
    box-shadow: 0 0 20px #343a40;
}

.btn-outline-secondary.text-white {
    color: #fff;
    border-color: #fff;
}

.btn-outline-secondary.text-white:hover {
    background-color: #fff;
    color: #ffffff;
}


/* ----------------------------------------------------------------- */


/* logo */

.logog:hover {
    transform: scale(1.1);
    transition: 200ms ease-in-out;
}


/* ----------------------------------------------------------------- */


/* login button */

.button-87 {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #3b3b3b;
    background-image: linear-gradient(45deg, #515152 0%, #161615 51%, #383737 100%);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}

.siz {
    width: 250px;
    height: 50px;
}


/* ----------------------------------------------------------------- */


/* ========================================================================================================================== */


/* slider css */

#myCarousel {
    margin-top: 86px;
}

.slide img {
    border: 4px solid transparent;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0 0 0 /69%) 0px 26px 30px -10px, rgba(0 0 0 /73%) 0px 16px 10px -10px;
    transition-duration: 300ms;
}

.slide img:hover {
    cursor: pointer;
    border: 4px solid rgba(249, 249, 249, 0.8);
}

.buttt {
    z-index: 1;
}


/* ----------------------------------------------------------------- */


/* ========================================================================================================================== */


/* card css */

.cardcontainer {
    margin-top: 30px;
    display: grid;
    padding: 30px 0px 26px;
    grid-gap: 25px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.cardWrap {
    border-radius: 10px;
    background-color: #090b13 !important;
    cursor: pointer;
    border: 3px solid rgba(249, 249, 249, 0.1)!important;
    box-shadow: rgba(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px !important;
    transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94)0s !important;
}

.cardWrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardWrap:hover {
    box-shadow: rgba(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px !important;
    transform: scale(1.05);
    border-color: rgba(249, 249, 249, 0.8) !important;
}

.contgap {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .cardcontainer {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
}


/* ----------------------------------------------------------------- */


/* ========================================================================================================================== */

.footer-back {
    background-color: #090b13 !important;
}

.footer-bs {
    background-color: #090b13;
    padding: 60px 40px;
    color: rgba(255, 255, 255, 1.00);
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
    height: fit-content;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
}

.footer-bs .footer-brand img {
    margin-left: 70px;
}

.footer-bs .footer-brand img:hover {
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
    margin-top: 20px;
    text-align: justify;
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
    color: rgba(255, 255, 255, 1.00);
    font-weight: bold;
    text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-nav h4 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: underline;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 5px;
}

.footer-bs .footer-social li {
    padding: 15px 10px;
}

.footer-bs .footer-social a {
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-social a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.socialicon:hover {
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
}

.siz {
    font-size: 0.75em;
}

@media (min-width: 768px) {
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
}